@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}
.section {
  width: 1200px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  color: white;
  background-color: rgb(3, 26, 36);
}
.container {
  width: 100% important;
  height: 100vh important;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.boxContent {
  background-color: rgb(185, 223, 189);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
}
.subbox {
  width: 100% important;
  display: flex;
}
.title {
  color: rgb(3, 26, 36);
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 10px 0;
  margin: 30px auto;
}

.formContainer {
  width: 1200px;
  display: flex;
  justify-content: center;
  text-align: start;
  background-color: rgb(12, 69, 92);
}
.dataContainer {
  width: 100%;
  display: flex;
  justify-content: start;
  text-align: start;
}

.input {
  width: 90%;
  background-color: transparent;
  border: 2px solid royalblue;
  box-shadow: none;
  padding: 5px;
  font-size: 20px;
  color: white;
  &::placeholder {
    color: royalblue;
    text-transform: capitalize;
    opacity: 0.3;
  }
  &:focus {
    outline: none;
  }
}

.button {
  width: 50%;
  padding: 5px;
  border-radius: 10px;
  background-color: transparent;
  border: 2px solid royalblue;
  color: white;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: light;
  &:hover {
    background-color: royalblue;
    color: white;
  }
}
.buttonDelete {
  width: 50%;
  padding: 5px;
  border-radius: 10px;
  background-color: transparent;
  border: 2px solid red;
  color: white;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: light;
  &:hover {
    background-color: red;
    color: white;
  }
}
.buttonSee {
  width: 50%;
  padding: 5px;
  border-radius: 10px;
  background-color: transparent;
  border: 2px solid green;
  color: white;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: light;
  &:hover {
    background-color: green;
    color: white;
  }
}
